<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="LOGS" value="./logs" />
  <property name="FILE_NAME" value="system-B" />
  <springProperty scope="context" name="springAppName" source="spring.application.name"/>

  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [${springAppName},%X{traceId:-},%X{spanId:-}] [%t] %-40.40logger{39}: %m%n
      </Pattern>
    </layout>
  </appender>

  <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOGS}/${FILE_NAME}.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>
        %d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [${springAppName},%X{traceId:-},%X{spanId:-}] [%t] %-40.40logger{39}: %m%n
      </Pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- rollover daily and when the file reaches 10 MegaBytes -->
      <fileNamePattern>
        ${LOGS}/${FILE_NAME}-%d{yyyy-MM-dd}.%i.log
      </fileNamePattern>
      <maxFileSize>20MB</maxFileSize>
      <maxHistory>10</maxHistory>
      <totalSizeCap>200MB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <!-- LOG everything at INFO level -->
  <root level="info">
    <appender-ref ref="RollingFile" />
    <appender-ref ref="Console" />
  </root>

</configuration>